<div class="jumbotron">
    <div class="container">
        <h1>About me</h1>
        <p>My name is Stevie Chow and I wanted to create a website that I could share my travels and adventures on. For those who know me, I have too many hobbies, but not enough time. I work a regular job of 50+ hour weeks, but that doesn't stop me from using my free time to enjoy what I do. 
    <br>
    <br>

    	Although tennis is one of hobbies, I've found a way to work in the industry as a Tennis Coach and work in the Pro Shop to help pass a long my knowlege to members of my club. In addition to tennis, I've also picked up another life long sport, cycling. You can find me cycling around the Bay Area and racing throughout Northern California. 
    <br>
    <br>

    	Tennis and cycling are my two hobbies that give me the energy to pursue my other passions of Video and Photography. I love traveling and what better way than to capture my experience and share with the world. I hope that this application will help me keep my memories in one place and also inspire you all to trael or join my hobbies. 
        </p>
    </div>
</div>