<h1>Who Am I?</h1>
<p>My name is Stevie and I'm learning how to create a website to showcase my photography of my travels around the world.</p>
<p>I hope that this course on Ruby on Rails, through One Month, will be able to help me set up my own website and learn the basics of coding!</p>
<p>Thank you for you're continued support and I'd love to hear your feedback.</p>