<br>
<div class="container">
	<div class="row">
		<div class="col-8">
			<h1>Want to talk to me?</h1>
			<h2>You can find me at: </h2>
			<ul class="fa-ul">
			  <li>
			  <a href="mailto:weaver808@gmail.com"><li><i class="fa fa-envelope" aria-hidden="true"></i>	Email</a></li>
			  <a href="https://www.instagram.com/stevie.chow/"><li><i class="fa fa-instagram" aria-hidden="true"></i>	Instagram</a></li>
			  <a href="https://www.youtube.com/channel/UC_T4oOOCEzxBQFqxbK1ilxA"><li><i class="fa fa-youtube" aria-hidden="true"></i>	YouTube</a></li>
			</ul>
		</div>
		<div class="col-4">
		</div>
	</div>
</div>
