<h1>Contact me on instagram: stevie.chow </h1>
<p>I'm learning how to code and make a website using an online course through One Month</p>
<p>I'd appreciate your support as I learn something completely new!</p>