<h1>Welcome to my website!</h1>
<p>I'm creating this app so I can share with everyone the photography I've taking while traveling around the world!</p>
<p>I hope you enjoy the content and appreciate all of your support while I learn.</p>